<div
    style="width: 100%;background:  {{#if containerBackground}} {{containerBackground}} {{else}} rgb(199, 195, 195) {{/if}} !important;box-sizing: border-box;">
    <div style="max-width: 600px; margin: auto;padding: 20px 0;">
        <div
            style="width: 100%;background: white;padding: 30px 15px 15px 15px;box-sizing: border-box; font-family: sans-serif; font-size: 16px; line-height: 1.5;">
            <div>
                <img src="https://config-qa.engage.comprodls.com/compro/ootb/assets/uklarity_red.png"
                    style="max-width: 100%; max-height: 300px; display: block; margin: auto" alt="comproDLS-engage">
            </div>
            <div style=" margin-top: 40px; text-align: center; padding: 0 15px;">
                <div style="color: #808080; font-size: 26px; margin-bottom: 36px">Welcome to <span
                        style="color: black; font-weight: 800;">{{platformName}}!</span></div>

                <p>You have been invited to participate in the course {{className}} by your instructor {{inviterName}}
                    ({{inviterEmail}}).</p>
                <p style="margin: 32px 0 16px 0;">You may need to register with <b>{{platformName}}</b> before you can
                    access the course.</p>
                <div style="margin: 26px 0;">
                    <button style="padding: 0; border: 0;"><a href="{{classUrl}}" target="_blank" style="color: #fff;
                    background-color: #343434;
                    height: 50px;
                    width: auto;
                    padding: 16px 16px;
                    font-weight: 600;
                    font-size: 16px;
                    display: block;
                    box-sizing: border-box;
                    margin: auto;
                    text-decoration:none;
                    border: #343434; outline: none">Get Started</a></button>
                </div>
                <p>If you have trouble accessing the link above, try copying and pasting the following link into your
                    browser: <a href="{{classUrl}}" target="_blank">{{classUrl}}</a></p>
            </div>
            <div style="margin-top: 30px;display: {{instructorMessageVisibility}};"><b>Message from the Instructor</b>:
                <div
                    style="background: #5b5a5a14; margin: 8px; min-height: 50px; border: 1px solid #7c737340; padding: 8px;">
                    <pre
                        style="font-family: sans-serif; font-size: 16px; line-height: 1.5; margin: 0; white-space: pre-wrap;">{{instructorMessage}}</pre>
                </div>
            </div>
            <p style="margin-top: 30px">Cheers,<br />The Engage Team</p>
        </div>
    </div>
</div>